# =====================
# Python
# =====================
__pycache__/
*.pyc
.venv/

# =====================
# MLflow
# =====================
mlruns/
mlflow.db

# =====================
# Airflow
# =====================
airflow/logs/
airflow/airflow.db

# =====================
# Generated outputs
# =====================
*.png
outputs/
images/

# =====================
# Jupyter
# =====================
.ipynb_checkpoints/

# OS
.DS_Store