# -------------------------------
# Core
# -------------------------------
pandas>=2.3
numpy>=2.4
matplotlib>=3.10
seaborn>=0.13
plotly>=6.5
altair==4.2.2  # fixed version for Streamlit compatibility

# -------------------------------
# Machine Learning / Time Series
# -------------------------------
scikit-learn>=1.8
statsmodels>=0.14
xgboost>=3.2
prophet>=1.3

# -------------------------------
# Experiment tracking
# -------------------------------
mlflow>=1.27

# -------------------------------
# API serving
# -------------------------------
# fastapi>=0.133
# uvicorn>=0.41

# -------------------------------
# Orchestration
# -------------------------------
# apache-airflow==2.9.1

# -------------------------------
# Streamlit for dashboard
# -------------------------------
streamlit>=1.18
